{% include "AdminHome/sidebar.html" %}

<div class="content">
  <h3 class="mb-4">Ad Requests</h3>
  <table class="table table-striped">
    <tr>
      <th>ID</th><th>City</th><th>Ad Type</th><th>Start</th><th>End</th>
    </tr>
    {% for r in data %}
    <tr>
      <td>{{ r.advrequestid }}</td>
      <td>{{ r.city }}</td>
      <td>{{ r.adtype }}</td>
      <td>{{ r.starttime }}</td>
      <td>{{ r.lastdate }}</td>
      <td>
        <a href="{% url 'edit_request' r.advrequestid %}" class="btn btn-sm btn-warning">Edit</a>
        <a href="{% url 'delete_request' r.advrequestid %}" class="btn btn-sm btn-danger"
           onclick="return confirm('Are you sure?')">Delete</a>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
