{% extends "AdminHome/sidebar.html" %}
{% block title %}Location Form{% endblock %}
{% block content %}
<nav class="navbar bg-white shadow-sm p-3 mb-3 rounded">
  <span class="h5">{% if location %}Edit{% else %}Add{% endif %} Location</span>
</nav>

<form method="POST" enctype="multipart/form-data" class="shadow-sm p-4 bg-white rounded">
  {% csrf_token %}
  <div class="row g-3">
    <div class="col-md-6">
      <label>Publisher ID</label>
      <input type="number" name="pubid" value="{{ location.pubid }}" class="form-control" required>
    </div>
    <div class="col-md-6">
      <label>Location Image</label>
      <input type="file" name="locimage" class="form-control">
      {% if location.locimage %}
        <img src="{{ location.locimage.url }}" width="100" class="mt-2 rounded">
      {% endif %}
    </div>
    <div class="col-md-6">
      <label>Location Name</label>
      <input type="text" name="locname" value="{{ location.locname }}" class="form-control" required>
    </div>
    <div class="col-md-6">
      <label>Address</label>
      <input type="text" name="locaddress" value="{{ location.locaddress }}" class="form-control" required>
    </div>
    <div class="col-md-6">
      <label>Person Contact Name</label>
      <input type="text" name="pcname" value="{{ location.pcname }}" class="form-control" required>
    </div>
    <div class="col-md-6">
      <label>Contact Number</label>
      <input type="number" name="contactno" value="{{ location.contactno }}" class="form-control" required>
    </div>
    <div class="col-md-6">
      <label>Area</label>
      <input type="text" name="parea" value="{{ location.parea }}" class="form-control" required>
    </div>
    <div class="col-md-6">
      <label>City</label>
      <input type="text" name="city" value="{{ location.city }}" class="form-control" required>
    </div>
    <div class="col-md-6">
      <label>Ad Type</label>
      <select name="adtype" class="form-control" required>
        <option value="Banner" {% if location.adtype == "Banner" %}selected{% endif %}>Banner</option>
        <option value="Bus Stand" {% if location.adtype == "Bus Stand" %}selected{% endif %}>Bus Stand</option>
        <option value="Electric Poll" {% if location.adtype == "Electric Poll" %}selected{% endif %}>Electric Poll</option>
      </select>
    </div>
    <div class="col-md-6">
      <label>No. of Advertisements</label>
      <input type="number" name="noadv" value="{{ location.noadv }}" class="form-control" required>
    </div>
    <div class="col-md-6">
      <label>Advertisement Size</label>
      <input type="text" name="advsize" value="{{ location.advsize }}" class="form-control" required>
    </div>
    <div class="col-md-6">
      <label>Advertisement Price</label>
      <input type="number" name="advprice" value="{{ location.advprice }}" class="form-control" required>
    </div>
  </div>
  <button class="btn btn-success mt-3">Save</button>
</form>
{% endblock %}
