<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Advertiser Home</title>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" type="text/css" href="css/ad publicize.css">
      <script type="text/javascript" src="js/scrollspy-js.js"></script>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Tinos&display=swap" rel="stylesheet">
        {% load static %}
        <link href="{% static 'css/home.css' %}" rel="stylesheet">
      <style>
        body{
            position: relative;
        }
      </style>
</head>
<body data-spy="scroll" data-target="#navbar" data-offset="50">
       <div class="container-fluid bg">
      <div class="container">
         <div class="row">
            <div class="col-sm-12">
               "Stay Focused & Never Give Up"
                    {% if messages %}
                        <div class="messages">
                            {% for message in messages %}
                            {% if message.tags %} {% endif %}
                                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}{% endif %}
                                <div class="alert alert-success alert-dismissible fade show">
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                    {{ message }}
                                </div>

                            {% endfor %}
                        </div>
                    {% endif %}
            </div>
                <script>
                    alert('{{ message }}');
                </script>
         </div>
      </div>
   </div>
   <div class="container-fluid navbarbg sticky-top ">
      <div class="container">
         <nav id="navbar" class="navbar navbar-expand-md bg-dark navbar-dark navbar-fixed-top">
         <!-- Brand -->
              <a class="navbar-brand" href="#"><span>AD</span>&nbsp;Publicize </a>


              <!-- Toggler/collapsibe Button -->
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
              </button>

              <!-- Navbar links -->
              <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
                   <ul class="navbar-nav">
                     <li class="nav-item navpad">
                       <a class="scrollto nav-link navlnk" href="/advpage">HOME</a>
                     </li>
                     <li class="nav-item navpad">
                       <a class="scrollto nav-link navlnk" href="/advviewloc">VIEW LOCATION</a>
                     </li>
                     <li class="nav-item navpad">
                       <a class="scrollto nav-link navlnk" href="/requestdtl">MY REQUEST</a>
                     </li>
                     {% comment %}<li class="nav-item navpad">
                       <a class="scrollto nav-link navlnk" href="#clienttelepage">CLIENTELE</a>
                     </li>
                     {% endcomment %}
                          <li class="nav-item navpad dropdown">
                       <a class="nav-link navlnk dropdown-toggle" href="#" style="color: #e63900; text-transform: uppercase" data-toggle="dropdown">WELCOME {{ request.session.fname }}</a>
                              <div class="dropdown-menu">
                                <a class="dropdown-item" href="/advertiserprofile">Profile</a>
                                <a class="dropdown-item" href="/logout">Logout</a>
                              </div>
                     </li>
                   </ul>
              </div>
            </nav>
      </div>
   </div>
<div class="container">
    <h5>Your Advertise Conformation</h5>
</div>
</body>
</html>